table th {width: 10%}
table td {width: 30%}
table caption {font-size: 2em; caption-side: top;}

.jumbotron {
  padding: 15px;
}
a {
  color: black;
}

a:hover {
  color: gray;
  text-decoration: none;
}

#about2 {
  font-size: 35px;
  margin-top: 50px;
}

#about-foto {
  max-width: 70%;
  border-radius: 10px;
  margin-left: 60%;
}

.table-headers {
  margin: 60px 0 15px 0;
}
